# Ignore any metdata from valgrind runs
vgcore.*

# Ignore vscode config files
.vscode/

# outputs (mostly csv files)
src/files/cache/*
src/files/llvm/junk_output/*
src/files/params/*
exp/*
