# Ignore any metdata from valgrind runs
vgcore.*

# Ignore vscode config files
.vscode/

.cache
compile_commands.json

# outputs (mostly csv files)
src/files/cache/*
src/files/llvm/junk_output/*
src/files/params/*
exp/*
*.o
shackleton
bin/init
O0
O1
O2
O3
Os
Oz